.section1 {
    position: relative;
    background-image: url(../img/bg-section1.svg);
    background-size: cover;
    text-align: center;
    padding-bottom: 30px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 2000px;
        height: 100%;
        clip-path: url(#svgPath-bg-section);
        background-color: rgba(@interactive-color, 0.59);
        z-index: -1;

        @media (min-width: @min-md) {
            clip-path: url(#svgPath-bg-section@768);
            top: 70px;
            height: 380px;
        }

        @media (min-width: @min-xl) {
            clip-path: url(#svgPath-bg-section@1024);
            top: 80px;
            height: 575px;
        }

        @media (min-width: @min-xxl) {
            clip-path: url(#svgPath-bg-section@1450);
            top: 65px;
            height: 575px;
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 182px;
        background-image: url(../img/bg-section1-girl.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
            background-image: url(../img/bg-section1-girl@2x.png);
        }

        @media (min-width: @min-md) {
            background-image: url(../img/bg-section1-girl@768.png);
            height: 436px;
            @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
                background-image: url(../img/bg-section1-girl@768@2x.png);
            }
        }

        @media (min-width: @min-xl) {
            background-image: url(../img/bg-section1-girl@1024.png);
            height: 614px;
            @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
                background-image: url(../img/bg-section1-girl@1024@2x.png);
            }
        }

        @media (min-width: @min-xxl) {
            width: 1004px;
            height: 614px;
            left: 64%;
            transform: translateX(-50%);
        }
    }

    @media (min-width: @min-md) {
        position: static;
        padding-bottom: 115px;
    }

    @media (min-width: @min-xl) {
        padding-bottom: 200px;
    }

    @media (min-width: @min-xxl) {
        text-align: left;
    }
}

.section1__button {
    margin-top: 20px;

    background: rgba(@interactive-color, 0.9);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.54);
    border-radius: 3px;
    padding: 15px;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: @text-color;

    @media (min-width: @min-md) {
        font-size: 17px;
        padding: 22px 12px;
        margin-top: 26px;
    }

    @media (min-width: @min-xl) {
        margin-top: 45px;
        padding: 28px 30px;
        font-size: 16px;
    }

    @media (min-width: @min-xxl) {
        margin-top: 55px;
        padding: 28px 30px;
        font-size: 16px;
    }
}