.no-JS {

    .slider__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slider__item {
        margin:0 5px 45px;
    }
}

.slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider__item {
    display: flex;
    flex-direction: column;
    width: 268px;
    padding-top: 25px;
    background-color: #fff;
    align-items: center;

    & img {
        width: 214px;
    }

    & a {
        display: inline-block;
        padding: 10px 0;
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        color: var(--text-color);
    }
}