<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ZOOM - фотостудия
    link(rel="stylesheet", href="css/style.css")

  body

    header.header
      .container.header__container
        a(href="#", aria-label="главная")
          img(src="./img/logo.png" alt="логотип").header__logo

        .header__nav
          nav.hidden-max-xl
            ul.header__nav-list
              li.header__nav-item 
                a.header__nav-link(href="#") Наши услуги
              li.header__nav-item 
                a.header__nav-link(href="#") Контакты
              li.header__nav-item 
                a.header__nav-link(href="#") Оплата
              li.header__nav-item.hidden-max-xl
                a.header__nav-phone(href="tel:+79020959759")  +7(902) 095-97-59
              li.header__nav-item.hidden-min-xl
                a.header__nav-link(href="#")  Заказать онлайн

          a.header__button(aria-label="Корзина", href="#")
            include ../img/cart.svg
          a.header__button(aria-label="Личный кабинет", href="#")
            include ../img/user.svg
          button.header__button.header__button--burder.header__button--js.hidden-min-xl(aria-label="Меню")

    main


    script(src="js/main.js")
