mixin my_slide-1(url_img, text, count)
  li.slider__item(data-count=count)
    img(src='./img/slider1-624/' + url_img + '-624.jpg')
    a(href="#" tabindex="-1")
      | #{text}

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="img/icon.png", type="image/x-icon")
    title ZOOM - фотостудия
    link(rel="stylesheet", href="css/style.css")

  body
    div(style="width:0;height:0;overflow:hidden;")
      include ../img/bg-section1.svg
      include ../img/bg-section1@768.svg
      include ../img/bg-section1@1024.svg
      include ../img/bg-section1@1450.svg

    header.header
      .container.header__container
        a(href="#", aria-label="главная")
          picture
            source(type="image/webp" srcset="img/logo.webp")
            img(src="./img/logo.png" alt="логотип").header__logo

        .header__nav
          nav.hidden-max-xl
            ul.header__nav-list
              li.header__nav-item 
                a.header__nav-link(href="#") Наши услуги
              li.header__nav-item 
                a.header__nav-link(href="#") Контакты
              li.header__nav-item 
                a.header__nav-link(href="#") Оплата
              li.header__nav-item.hidden-max-xl
                a.header__nav-phone(href="tel:+79020959759")  +7(902) 095-97-59
              li.header__nav-item.hidden-min-xl
                a.header__nav-link(href="#")  Заказать онлайн

          a.header__button(aria-label="Корзина", href="#")
            include ../img/cart.svg
          a.header__button(aria-label="Личный кабинет", href="#")
            include ../img/user.svg
          button.header__button.header__button--burder.header__button--js.hidden-min-xl(aria-label="Меню")

    main

      section.section1

        .container

          h1.h1 фотостудия
            span в Волгограде

          a.button.section1__button(href="#")  Заказать услугу онлайн
      
      section.section2

        h2.heading-2 Наши услуги

        .slider.no-JS
          .slider__list-wrap
            ul.slider__list
              +my_slide-1("slider1", "Фото на документы", 1)
              +my_slide-1("slider2", "Ксерокопия, сканирование, распечатка", 2)
              +my_slide-1("slider3", "Распечатка фотографий", 3)
              +my_slide-1("slider4", "Ретушь и коррекция", 4)
              +my_slide-1("slider5", "Брелоки и магниты", 5)
              +my_slide-1("slider6", "Раскраска фотографий", 6)
              +my_slide-1("slider7", "Монтаж, замена фона", 7)
              +my_slide-1("slider8", "Реставрация фотографий", 8)
              +my_slide-1("slider9", "Коррекция фигуры и лица", 9)

          .slider__nav
            button.slider__prev(aria-label="Предыдущий слайд")
            
            each slide in [{text: 'первый', count: 1}, {text: 'второй', count: 2},{text: 'третий', count: 3},{text: 'четвертый', count: 4},{text: 'пятый', count: 5},{text: 'шестой', count: 6},  {text: 'седьмой', count: 7},{text: 'восьмой', count: 8},{text: 'девятый', count: 9}]
              button.slider__pager-button(aria-label='показать ' + slide.text + ' слайд', data-count=slide.count)
            
            button.slider__next(aria-label="Следующий слайд")

    script(src="js/main-debug.js")
