body {
  margin: 0;
  padding: 0;
  font-family: @ff-roboto;
  background-color: #f9f9f9;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

.hidden-min-lg {

  @media (min-width: @max-lg) {
    display: none;
  }
}

.hidden-max-lg {

  @media (max-width: @max-lg) {
    display: none;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: border-box;
}

.h1 {
  display: block;
  margin: 0;
  font-family: @ff-amatic;
  font-weight: bold;
  font-size: 81.5055px;
  line-height: 107.84%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.92);

  & span {
    display: block;
    font-family: Segoe-Print;
    font-size: 16px;
    line-height: 116.02%;
    letter-spacing: 0;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.63);
  }

  @media (min-width: @min-md) {
    font-size: 200px;
    line-height: 120px;
    text-shadow: 0 4.5px 4.5px #000;

    & span {
      margin-top: 40px;
      font-size: 34px;
      line-height: 116%;
    }
  }

  @media (min-width: @min-xl) {
    font-size: 230px;
    line-height: 200px;
    color: #FFFDFD;
    text-shadow: -3px 2px 8px rgba(0, 0, 0, 0.87);

    & span {
      font-size: 34px;
    }
  }

  @media (min-width: @min-xxl) {
    line-height: 200px;
    text-shadow: -3px 2px 8px rgba(0, 0, 0, 0.87);

    & span {
      margin-top: 20px;
      color: @text-color;
      text-shadow: none;
    }
  }
}

.heading-2 {
  font-family: @ff-amatic;
  font-size: 30px;
  line-height: 38px;
  color: @text-color;
  text-align: center;

  @media (min-width: @min-md) {
    font-size: 35px;
  }

  @media (min-width: @min-xl) {
    font-size: 50px;
  }
}

picture {
  display: block;
}