// viewport
@max-sm: 575px;
@min-sm: 576px;

@max-md: 767px;
@min-md: 768px;

@max-lg: 989px;
@min-lg: 990px;

@max-xl: 1023px;
@min-xl: 1024px;

@min-xxl: 1450px;


:root {
    // colors
    --text-color: #272626;
    --interactive-color: #E8B70A;
    --contrast-color: #12BDAA;

    // transition
    --transition-delay: 200ms;

    // text
    --ff-roboto: Roboto, Arial, Helvetica, sans-serif;
}